<div class="calculator">
  <div class="calculator__grid">
    <div class="calculator__expression">
      <p class="calculator__input">
          {{ expression }}
      </p>
      <p class="calculator__evaluated-value">{{ evaluatedValue === undefined ? '' : '= ' }}{{ evaluatedValue }}</p>
    </div>
    <div
      matRipple
      [matRippleCentered]="true"
      *ngFor="let buttonKey of buttonKeys"
      class="calculator__button calculator__cell"
      [ngClass]="{ calculator__zero: buttonKey.value === '0' }"
      (click)="onButtonPressed(buttonKey.value)"
    >
      <span>{{ buttonKey.label }}</span>
    </div>
  </div>
</div>
