$border-radius-size: 2px;

.calculator {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;

  font-size: 48px;

  &__expression {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    padding: 0 20px;
    height: 100%;
    border-color: white;
    border: 1px solid;
  }

  &__input {
    font-size: larger;
    font-family: monospace;
  }

  &__evaluated-value {
    font-family: monospace;
    opacity: 0.4;
    font-size: larger;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, calc(1 / 4 * 100vw));
    grid-auto-rows: calc(1 /5 * 100vh);

    :first-child {
      border-top-left-radius: $border-radius-size;
      grid-column: span 3;
    }
    :nth-child(2) {
      border-top-right-radius: $border-radius-size;
    }
    :nth-child(15) {
      border-bottom-left-radius: $border-radius-size;
    }
    :last-child {
      border-bottom-right-radius: $border-radius-size;
    }
  }

  &__cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-color: white;
    border: 1px solid;
  }

  &__button {
    line-height: 1em;
    cursor: pointer;
    user-select: none;
  }

  &__zero {
    grid-column: span 2;
  }
}
